@model EntityLayer.Concrete.Capability
@{
    ViewBag.Title = "AddCapability";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h1>Yeni Yetenek Ekleme Sayfası</h1>
<br />
@using (Html.BeginForm("AddCapability", "Capability", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Yetenek Adı")
        @Html.TextBoxFor(x => x.CapabilityName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CapabilityName)
        <br />
        <br />
        @Html.Label("Yetenek Seviyesi (0-100)")
        @Html.TextBoxFor(x => x.CapabilityLevel, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CapabilityLevel)
        <br />
        <br />
        <button class="btn btn-success">Kaydet</button>
    </div>

}

